/* * {
    border: 1px solid red;
} */

.card {
  background-color: #2c3333;
  margin-top: 70px;
}

.box {
  border-radius: 20px;
  height: auto;
  width: 350px;
}

.display {
  height: 70px;
  color: #fff;
}

.garis {
  width: 85%;
  margin-top: 20px;
  border-top: 1px solid #fff;
  box-shadow: -1px 6px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 6px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 13px 0px rgba(0, 0, 0, 0.75);
}

.calc {
  transform: translateY(10px);
}

.btn {
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 0px 24px 3px rgba(0, 0, 0, 0.77);
}

.btn:hover {
  transform: translateY(-1px);
  color: #fff;
}

.btn:active {
  transform: translateY(2px);
}

.result-display {
  font-size: 24px;
}

.zero {
  width: 116px;
}
